/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/


body {
	margin: 0;
	font-family: 'Lora', serif;
	font-size: 18px;
	line-height: 1.5;
	}

.hlavicka{
	font-family: 'Playfair Display', serif;
	color: #242424;
	display: flex;
	justify-content: space-between;
		}

a{
	
	text-decoration: none;
	color: black;
		}
.policko{
	width: auto;
	height: 30px;
	border-radius: 20px;
	background-color: #3e606b;
	
		}
	a:hover{
		color: aliceblue;
			}
	.policko:hover{
	background-color: #f195b2;
			}

.cukrarka{
	border-radius: 5px;
	float: left;
	margin-left: 30px;
		}

h1{
	font-size: 52px;
}
h2{
	font-size: 36px;
}
h3{
	font-size: 18px;
}

h1,
h2,
h3 {font-family: 'Playfair Display', serif;}

h2,
h3,
h4 {
	color:#3e606b;
}

ul{
	list-style: none;
	display: inline-block;
	
}
li{
	display: inline-block;
	padding: 10px 15px;
}

.tlacitko{
	background-color: #f195b2;
	border-radius: 30px;
	height: 40px;
	width: 175px;
	text-align: center;
	padding-top: 5px;
	}

.vyrobky{
	color: aliceblue;
}

.vitejte{
	display: flex;
	padding-top: 80px;
	padding-bottom: 80px;
	margin: 0 auto;
	max-width: 1100px;
	}
	
.ponuka{
	background-color:#f0f0f0;
	padding:40px 0px 5px 110px;
	}

.nabidka{
	display: flex;
	flex-direction: row;
	background-color: #f0f0f0;
	padding: 20px 80px 40px 80px;
	height: 800px; 
	justify-content: space-between;
	row-gap: 10px;
	}

.kolacik{
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	margin: 30px;
	box-shadow: 3px 3px 3px rgb(193, 195, 197);
	height: 600px;
		
}

.odstavcek{
	text-align: left;
	padding: 20px;
	align-items: start;
}

.nadpis{
	text-align: center;
}

.pristup{
	display: flex;
	padding: 80px;
}

.uvodnybanner{
	background-image: url(images/cupcake.jpg);
	color: aliceblue;
	height: 450px;
	width: auto;
	background-repeat: no-repeat;
	background-size: cover;
	padding-right: 40%;
	padding-top: 10px;
	padding-left: 40px;
}

.peceniobr{
	margin-right: 30px;
	border-radius: 5px;
}

.obrazok{
	border-radius: 5px;
}
.footer{
	background-color: #2e3031;
	color:aliceblue;
	text-align: center;
	font-size: 18px;
	padding-top: 30px;
	padding-bottom: 30px;
}

